:root {
  --hover-color: #4d5ae5;
  --focus-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --light-light-color: #ffffff;
  --gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
}

@media screen and (min-width: 480px) {

  .hero {
    background-image: var(--gradient), url("../images/hero-bg/dark-bg-tab.jpg");
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--gradient),
        url("../images/hero-bg/dark-bg-tab-2x.jpg");
    }
  }
}
